.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 36px);
  overflow: auto;
  background: #f0f2f5;
  @media (min-width: 768px) {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }
  .login-container {
    width: 368px;
    margin: 100px auto 0;
    .login-title {
      padding: 20px 0;
      font-size: 40px;
      text-align: center;
    }
    .site-form-item-icon {
      color: rgb(24, 144, 255);
    }
    .login-form-button {
      width: 100%;
    }
  }
}

.prefixIcon {
  color: rgba(#000, 25%);
  font-size: 14px;
}
